
body{
  size: 100%;
  background-color: darkgray;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  width: 30px;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;  
}

li {
  text-align: center;
}

li a:hover {
  background-size: 100px;
  background-color:grey;
  color: white;
}

.topnav a {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 200px;
  padding: 20px;
  text-align: center;
  font-size: 22px;}

.hero img {
  border-radius: 50%;
  position: relative;
}

.hero {
  background-image: url(./images/night-the-city-building-pixels-wallpaper-preview.jpeg);
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 53px;
}

.hero-cta {
  margin-left: 600px;
  justify-content: space-around;
  font-size: 30px;
  width: 35%;
  text-align: center;
  padding: 0px;
  margin: 10%;
  color: #fff;
  line-height: 1.3;
}

.hero-cta h2 {
  font-style: bold;
  font-size: 200px;
  color: rgb(255, 236, 60);
}

.hero-cta p {
  font-size: 50px;
  font: bold;
  padding: 0px;
  margin: 0px;
}

.column {
  background-color: lightcoral;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.run-buddy a {
  float: left;
  margin-top: 50px;
  margin-left: 150px;
  text-decoration: none;
  color: rgb(255, 236, 60);
  background-color: none;
}

.run-buddy a:hover {
  color: #fff;
  opacity: 80%;
}

.project-list a {
  font-size: 30px;
  text-align: center;
}

img {
  flex-grow: 100px   ;
  display: flex;
  flex-wrap: wrap;
}

.run-buddy img {
  display: inline;
  margin-left: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid 5px;
}

.run-buddy p {
  text-align: center;
  margin-right: 20px;
  padding: 0px;
  font-size: 50px;
}

.cat img {
  display: inline;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid 5px blue;
}

.contact {
  background-color: lightblue;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.info {
  font-size: 150px;
  color: rgb(255, 236, 60);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info a {
  font-size: 50px;
  text-decoration: none;
  color: black;
  display: block;
}

.Niche{
  
}

.Niche img:hover{
  opacity: 80%;
  color: #fff;
}

.cat p{
  margin-left: 30px;
}

.Niche p{
  margin-left: 250px;
}

.Niche img{
  display: inline;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid 5px brown;
  width: fit-content;
}
